.hvr-bdr:hover{
    border: 1px solid #808080;
    cursor: pointer;
    transition: 0.5s;
}
.hvr-black:hover{
    background-color: green !important;
    transition: 0.4s;
    color: #ffffff !important;
    border-color: #000000 !important;    
}
.hvr-white:hover{
    background-color: #fff !important;
    transition: 0.4s;
    color: #000 !important;
    border-color: #808080 !important;    
}
.hvr-orange:hover{
    background-color: #ff7f50;
    transition: 0.4s;
    color: #000000;
    border-radius: 50%;
}
