.hvr-bdr:hover{
    border: 1px solid #808080;
    cursor: pointer;
    transition: 0.5s;
}
.hvr-black:hover{
    background-color: #000000;
    transition: 0.4s;
    color: #ffffff;
    border-color: #000000;
    border: none;
}
.hvr-orange:hover{
    background-color: #ff7f50;
    transition: 0.4s;
    color: #000000;
    border-radius: 50%;
}