.a-hvr-w li a:hover{
    background-color: white !important;
    color: black !important;
}
.a-hvr-b li a:hover{
    background-color: #000 !important;
    color: #fff !important;
}
/* nav link colors */

.a-white a{
    color: #ffffff !important;
}
.a-black a{
    color: #000000 !important;
}
.a-green a{
    color: #006400 !important;
}
.a-orange a{
    color: #ff4500 !important;
}
.a-red a{
    color: #8b0000 !important;
}
.a-blue a{
    color: #00008b !important;
}
.nav-clps{
    border-radius: 0px;
    letter-spacing: 0.5px;
    border: 0px;
}
.side-nav li{
    list-style-type: none;    
}

.side-nav a{
    text-decoration: none;
    display: block;
    padding: 12px 16px !important;
    font-size: 14px !important;
    border-top : 1px solid gray;
}