
.responsive-1{
    width: 100%;
    height: auto;
}

.responsive-09{
    width: 90%;
    height: auto;
}

.responsive-08{
    width: 80%;
    height: auto;
}

.responsive-07{
    width: 70%;
    height: auto;
}

.responsive-06{
    width: 60%;
    height: auto;
}

.responsive-05{
    width: 50%;
    height: auto;
}

.responsive-04{
    width: 40%;
    height: auto;
}

.responsive-03{
    width: 30%;
    height: auto;
}

.responsive-02{
    width: 20%;
    height: auto;
}
.responsive-01{
    width: 10%;
    height: auto;
}
