.wd-100{
    width: 100% !important;
    height: auto;
}
.wd-95{ 
    width: 95%;
    height: auto;
}
.wd-90{
    width: 90%;
    height: auto;
}
.wd-80{
    width: 80%;
    height: auto;
}
.wd-70{
    width: 70%;
    height: auto;
}
.wd-60{
    width: 60%;
    height: auto;
}
.wd-50{
    width: 50%;
    height: auto;
}
.wd-40{
    width: 40%;
    height: auto;
}
.wd-30{
    width: 30%;
    height: auto;
}
.wd-20{
    width: 20%;
    height: auto;
}
.wd-10{
    width: 10%;
    height: auto;
}
.ht-5{
    height: 5px !important;
}
.ht-10{
    height: 10px !important;
}
.ht-20{
    height: 20px !important;
}
.ht-30{
    height: 30px !important;
}
.ht-40{
    height: 40px !important;
}
.ht-50{
    height: 50px !important;
}
.ht-60{
    height: 60px !important;
}
.ht-70{
    height: 70px !important;
}
.ht-80{
    height: 80px !important;
}
.ht-90{
    height: 90px !important;
}
.ht-100{  
    height: 100px !important;
}
.ht-150{    
    height: 150px !important;
}
.ht-200{
    height: 200px !important;
}
.ht-300{
    height: 300px !important;
}
.ht-400{
    height: 400px !important;
}
.ht-500{
    height: 500px !important;
}
.ht-600{
    height: 600px !important;
}
.ht-700{
    height: 700px !important;
}
.ht-800{
    height: 800px !important;
}
.ht-900{
    height: 900px !important;
}
.ht-1000{
    height: 1000px !important;
}
.block{
    display: inline;
}
.inline{
    display: inline;
}